html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f9f9f9;
  color: #222;
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Font Variable */
:root {
  --title-font: 'PT Serif', serif;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 2.5em;
  font-family: var(--title-font);
}

p {
  color: #666;
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
}

del {
  text-decoration-thickness: 2px;
  opacity: 0.5;
}

hr {
  border: none;
  border-top: 2px solid #ddd;
  margin: 40px 0;
}

.year-selector {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

label {
  font-family: var(--title-font);
}

select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

#table-of-contents {
  padding: 14px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.table-of-contents-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 800px;
}

.table-of-contents-list a {
  text-decoration: none;
  color: #444;
  display: block;
  padding: 2px 2px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.table-of-contents-list a:hover {
  color: #0066cc;
  text-decoration: underline;
}

.section-title {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.1em;
}

.section-title > a {
  color: #222;
  font-weight: 700;
  font-family: var(--title-font);
}

.section-title [href="#podcast-of-the-year"] {
  font-size: 1.1em;
}

.sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 4px 12px;
}

.sub-list li a {
  font-size: 0.95em;
  color: #555;
  border-left: 2px solid transparent;
}

h2 {
  color: #333;
  margin: 80px 0 0;
  text-align: center;
  font-size: 2.5em;
  font-family: var(--title-font);
}

/* Big highlight award section */
.award-section {
  margin: 40px auto 50px;
}

.award-section h3 {
  color: #444;
  margin-bottom: 20px;
  font-size: 1.3em;
}

.award-section .podcast-links {
  font-size: 14px;
}

/* Grid layout for the majority of awards */
.awards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px 40px;
  margin-bottom: 40px;
}

.award-grid-item {
  display: flex;
  flex-direction: column;
}

.award-grid-title {
  color: #444;
  font-size: 1.2em;
  min-height: 76px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2px;
  text-wrap: balance;
  font-family: var(--title-font);
}

.award-runners-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 10px;
}

/* Shared styles across all awards sections */
.sponsor {
  font-size: 12px;
  color: #888;
  font-weight: normal;
  font-style: italic;
  font-family: 'Inter', sans-serif;
}

.sponsor-spacer {
  height: 1em;
}

.podcasts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.podcast-card {
  transition: box-shadow 0.2s;
  position: relative;
}

.award-winner .podcast-info {
  min-height: 80px;
}

.medal {
  font-size: 11px;
  text-decoration: underline;
  opacity: 0.7;
  padding-bottom: 4px;
  padding-left: 2px;
}

.medal-1 {
  color: #796700; /* Gold */
}

.medal-3 {
  color: #5e2f00; /* Bronze */
}

.position {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
}

.podcast-image {
  width: 100%;
  height: auto;
  /* margin-bottom: 15px; */
  border-radius: 7px;
}

.podcast-info h3 {
  margin: 0 0 4px 0;
  color: #333;
  font-size: 1.2em;
  font-weight: normal;
  padding: 2px;
}

.podcast-description {
  color: #666;
  font-size: 0.9em;
  line-height: 1.5;
  margin: 8px 0 4px 0;
  text-align: left;
  height: 108px;
  overflow: clip;
}

.podcast-links {
  display: flex;
  gap: 10px;
  /* margin-top: 15px; */
  font-size: 12px;
}

.podcast-links a {
  color: #666;
  text-decoration: none;
  transition: color ease 0.2s, text-decoration ease 0.2s;
}

.podcast-links a:hover {
  color: #0066cc;
  text-decoration: underline;
}

/* Compact Podcast Cards */
.podcast-card-compact .podcast-image {
  display: block;
  border-radius: 3px;
}

.podcast-card-compact h3 {
  font-size: 12px !important;
  margin-bottom: 6px !important;
}

.podcast-card-compact .podcast-links {
  font-size: 11px;
  margin-top: 6px;
  flex-wrap: wrap;
  gap: 4px 8px
}

.podcast-card-compact .podcast-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: center; */
}

.podcast-card-compact .position {
  font-size: 1.2em;
  top: 5px;
  right: 5px;
}

/* Network Cards */
.network-card h3 a {
  color: #333;
  text-decoration: none;
}

.network-card h3 a:hover {
  color: #0066cc;
  text-decoration: underline;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}

@media (max-width: 375px) {
  #table-of-contents {
    padding: 0;
  }
}

/* Highlighted Award (Podcast of the Year) */
.highlight-winner {
  max-width: 500px;
  margin: 0 auto 30px;
}

.highlight-winner .podcast-description {
  height: auto;
}

.highlight-runners-up {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.highlight-runners-up .podcast-card-compact {
  flex-shrink: 1;
  max-width: 260px;
}
